/* Container */
.logout-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

/* Logout Button */
.logout-button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
  margin-top: 20px;
}

.logout-button:hover {
  background-color: #e60000;
}
